/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'roboto', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 10px 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'great vibes', sans-serif;
    color: #ffffff;
    letter-spacing: 3px;
    color: #ffffff;
}

#menu {
    list-style-type: none;
    letter-spacing: 1px;
    font-size: 100%;
}

#menu>li {
    margin-bottom: 4px;
}

.active {
    border-bottom: 1px solid #ffffff;
}

/* Navbar styling w dropdown toggle */
nav {
    position: absolute;
    background-color: #07161a8f;
    box-shadow: 0 3px 3px #000000a5;
    left: 0;
    padding: 5px;
    width: 100%;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Main Content */
main {
    background-color: orange;
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: green;
}