/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'roboto', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 10px 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #3a3a3a;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'great vibes', sans-serif;
    color: #ffffff;
    letter-spacing: 3px;
    color: #ffffff;
}

/* Main Content */
main {
    background-color: orange;
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: green;
}